<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>403</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-adsense-account" content="ca-pub-4241921911679368">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/ext/ajax-header.min.js"></script>

</head>

<body th:text="${msg}">
no permission
</body>
</html>