<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bazel springboot template</title>
</head>
<body class="font-roboto bg-gray-100">
<nav th:replace="~{fragments/nav::nav}" class="bg-white px-6 py-2 shadow">
</nav>
<div class="flex h-screen items-center justify-center mb-10 mt-6">
   body
</div>
<footer th:replace="~{fragments/footer :: footer}" ></footer>

</body>
</html>